

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:#ff5050;
}


.jumbotron h1{
	padding-left: 10%;
	padding-top: 3%;
}

.jumbotron p{
	padding-left:10%;
}

.list-group{
	margin-top:15%;
	margin-right: 75%;

}


.row{

	padding:20px;
	text-align: center;


}


.btn-default{
	background-color:#ff5050;
}

